<%= simple_form_for(@producto, html: {class: "form-horizontal"}) do |f| %>
  <% if @producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@producto.errors.count, "error") %> prohibited this producto from being saved:</h2>

      <ul>
      <% @producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :articulos, placeholder: 'Nombre del articulo'%><br>
    <!--<%= f.text_field :articulos %>-->
 

    <%= f.input :cantidad, placeholder: 'Cantidad de articulos' %><br>
    <!--<%= f.text_field :cantidad %>-->
 

    <%= f.input :precio, placeholder: 'Precio unitario del articulo' %><br>
    <!-- <%= f.text_field :precio %>-->
  

    <%= f.input :descripcion, placeholder: 'Descripcion del articulo' %><br>
    <!--<%= f.text_area :descripcion %>-->
  
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
