<p id="notice"><%= notice %></p>

<%=simple_form_for(@producto) do |f|%>
	
	<%= f.hint :articulos%>
	<%= f.hint :cantidad%>
	<%= f.hint :precio%>
	<%= f.hint :descripcion%>



<%end%>


<!--
<p>
  <strong>Articulos:</strong>
  <%= @producto.articulos %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @producto.cantidad %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @producto.descripcion %>
</p>

<%= link_to 'Atras', productos_path, class: "btn btn-warning" %> |
<%= link_to 'Editar', edit_producto_path(@producto), class: "btn btn-primary" %>
-->